.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode nav{
    background-color: rgb(166, 158, 158);
    color: white;
}   

.dark-mode section{
    background-color: rgb(59, 42, 42);
    color: black;
}

.dark-mode .bg-white{
    background-color: black;
    color: white;
}